body {
  color: #1D002D;
}

.full_title {
  color: #5E0035;
  text-align: center;
  font-family: monospace;
}

.sub_title {
  font-family: monospace;
  text-align: center;
}

.login_form {
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.name_input {
  width: 100%;
}

.login_button {
  width: 100%;
}

.prop_title {
  text-align: center;
  background-color: #0b012e;
  color: #a25983;
  padding-top: 20px;
  padding-bottom: 15px;
}

.ico_choice {
  width: 2em;
  height: 2em;
  display: inline-block;
  padding-right: 7px;
}

.mini_ico {
  width: 1.3em;
  height: 1.3em;
}

.opt_choice {
  position: absolute;
  right: 2em;
  top: 2em;
}

.panel_icos {
  display: block;
  width: 70%;
  text-align: center;
  margin: auto;
}

.panel_btn {
  display: inline-block;
  width: 33%;
}

.main_panel {
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding: 5px;
}

.panel_header {
  /* width: 100%; */
  padding: 15px;
  margin: auto;
  position: relative;
}