<!-- <!DOCTYPE html> -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nombre de aplicacion</title>
    <link rel="stylesheet" href="../static/css/pure-min.css">
    <link rel="stylesheet" href="../static/css/grids-responsive-min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <!-- {# libreria de toasts #} -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- {# codigo fuente de la aplicacion #} -->
    <script src="../static/js/utilities.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/vendor/vue.js" charset="utf-8"></script>
    <!-- {# libreria para peticiones ajax #} -->
    <script src="../static/vendor/axios.min.js" charset="utf-8"></script>
    <!-- {# codigo fuente de la aplicacion de vue_app #} -->
    <script src="../static/js/vue_app.js"></script>

    <!-- android -->
    <meta name="theme-color" content="#fff">
    <!-- {% block component_templates %}{% endblock component_templates %} -->
</head>
<body>
<div id="vue_app">

  <!-- {% block content %}{% endblock content %} -->

</div>
</body>
</html>
